{% extends "CrazyJoe/base.html" %}
{% block content %}
    <h1>Sobre nós</h1>
     <p class='text-muted'>A StartupInvestor é onde os representantes de startups podem postar seus negócios e obter investimentos para seu Startup.
         Inscreve-se a sua Startup aqui. Apenas registre-se e cria um post e ganhe investidores! Boa sorte!!!</p>
<div class="col text-center justify-content-center align-self-center">
    <img src="/media/profile_pics/pic1.png"  style="width:400px;height:400px;">
</div>

{% endblock content %}